prefixes.yml
cpu.pprof
*.swp
*.so
*.o
*.a
.checkmate/*
parsejoy-go
main
*.pyc
*.sqlite
*~
*.json.gz
**/build/*
*BASE*
*ORIG*
*BACKUP*
*LOCAL*
*REMOTE*
*\#
**/venv*/
*.db
*.orig
**/.cache/*
**/secrets.yml
.DS_Store
run.sh
